{% extends 'base.html' %}
{% block title %}Holiday Homes{% endblock %}
{% block main %}<h1 class="text-5xl font-bold text-slate-600">Welcome to Holiday Homes</h1>{% endblock %}
{% block navigation %}
    <ul class="flex flex-row items-center">
        <li class="hidden inline-block px-6 py-2 border-2 border-gray-800 text-gray-800 font-medium text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out mx-2"><a href="{% url 'index' %}">Home</a></li>
        <li class="inline-block px-6 py-2 border-2 border-gray-800 text-gray-800 font-medium text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out mx-2"><a href="{% url 'profile:index' %}">Profiles</a></li>
        <li class="inline-block px-6 py-2 border-2 border-gray-800 text-gray-800 font-medium text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out mx-2"><a href="{% url 'letting:index' %}">Lettings</a></li>
    </ul>
{% endblock %}